"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-material-ui":
    colors:
      abaseColor: "#cddc39"
      accentColor: "#737f10"
      genAccent: true
      paintCursor: true
      predefinedColor: "Lime"
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
      "ansible-vault"
      "webbox-color"
      "autocomplete-ansible"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "glacier-dark-ui"
      "atom-monokai"
    ]
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "c9957250-16c1-8861-898e-a3ea61a5368b"
  "file-icons":
    coloured: false
  "glacier-dark-ui": {}
  "tool-bar":
    visible: false
  "tool-bar-markdown-writer":
    visibility: "showToolbarOnMarkdown"
  welcome:
    showOnStartup: false
