"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "c9957250-16c1-8861-898e-a3ea61a5368b"
  "tool-bar": {}
  welcome:
    showOnStartup: false
