[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nanorc"]
	path = nanorc
	url = https://github.com/nanorc/nanorc.git
[submodule "dotbot-apt-get"]
	path = dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "dotbot-sync"]
	path = dotbot-sync
	url = https://github.com/j1r1k/dotbot-sync.git
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
