[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
        branch = master
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
        branch = master
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
	branch = master
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "config/tmux/plugins/tmux-sensible"]
	path = config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
	branch = master
[submodule "config/tmux/plugins/tmux-online-status"]
	path = config/tmux/plugins/tmux-online-status
	url = https://git::@github.com/tmux-plugins/tmux-online-status
	branch = master
[submodule "config/tmux/plugins/tmux-net-speed"]
	path = config/tmux/plugins/tmux-net-speed
	url = https://git::@github.com/tmux-plugins/tmux-net-speed
	branch = master
[submodule "config/tmux/plugins/tmux-cpu"]
	path = config/tmux/plugins/tmux-cpu
	url = https://git::@github.com/tmux-plugins/tmux-cpu
	branch = master
[submodule "config/tmux/plugins/tmux-battery"]
	path = config/tmux/plugins/tmux-battery
	url = https://git::@github.com/tmux-plugins/tmux-battery
	branch = master
[submodule "vim/SpaceVim"]
	path = vim/SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
