[defaults]
#strategy_plugins = plugins/mitogen-0.2.8/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear


#[defaults]
internal_poll_interval = 0.2
nocows = 1
nocolor = 0

host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp
stdout_callback = skippy
callback_whitelist = profile_tasks
roles_path = roles:$VIRTUAL_ENV/roles:$VIRTUAL_ENV/third-party/kubespray/roles
library = library:$VIRTUAL_ENV/library:$VIRTUAL_ENV/third-party/kubespray/library
deprecation_warnings=False
inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo, .creds
timeout = 15
#vault_password_file = ./.vault_pass
forks = 10

[inventory]
ignore_patterns = artifacts, credentials

[ssh_connection]
#ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=10m
pipelining=True
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/ansible-%%r@%%h:%%p

[colors]
highlight = pink
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan
