[General]
Show_Title=true
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Lines_Size=3
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=4
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=419
Preferred_Height=371

[Chip0]
Name=coretemp-0
Number=0

[Chip1]
Name=Festplatten
Number=1

[Chip2]
Name=ACPI
Number=2

[Chip3]
Name=nvidia
Number=3

